@using Auction.DTO.Partial
@model Auction.DTO.CreateLotModel


@{
    ViewBag.Title = "Update Lot";
}

<link rel="stylesheet" href="~/css/create.css"/>

@{
    await Html.RenderPartialAsync("_PageTitle", new ColDescription{
        Title = "Update lot", 
        Description = new List<string>
        {"Make it easy for people to learn about your project."}
    });
}

<form enctype="multipart/form-data" asp-controller="Lot" asp-action="Update" asp-route-lotId="@ViewData["Id"]" method="post">
    @{
        await Html.RenderPartialAsync("_Common", Model);
    }
</form>

@section Scripts
{
    <script>    
        function readURL(input) {
            if (input.files && input.files[0]) {
                let reader = new FileReader();
                reader.onload = function(e) {
                    $('#preview').attr('src', e.target.result);
                    $('#drag-n-drop').removeClass('invisible');
                    
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $(document).ready(function () {
            $("#fileInput").change(function() {
                readURL(this);
            });
        })
    </script>
}