@model Web.DTO.Account.RegisterViewModel

@{
    ViewBag.Title = "User Register";
}

<div class="center ">
    <link rel="stylesheet" href="~/css/signin.css"/>
    <form method="post" asp-controller="Account" asp-action="Register" class="form-signin">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Email">Email address</label>
            <input asp-for="Email" class="form-control" placeholder="Enter email">
            <span asp-validation-for="Email" class="form-text text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password">Password</label>
            <input asp-for="Password" class="form-control" placeholder="Password">
            <span asp-validation-for="Password" class="form-text text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword">ConfirmPassword</label>
            <input asp-for="ConfirmPassword" class="form-control" placeholder="ConfirmPassword">
            <span asp-validation-for="ConfirmPassword" class="form-text text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary w-100">Submit</button>
    </form>
</div>