@model Web.DTO.Partial.ColDescription

<div class="page-title">
    <h2 class="soft-black type-28">@Model.Title</h2>
    @foreach (var subtitle in Model.Description)
    {
        <p class="type-18 soft-black">@subtitle</p>   
    }
</div>
<hr/>