@model IEnumerable<string>

@{
    ViewData["Title"] = "Admin panel";
}

<div>
    <div class="row">
        <p class="pr-3">Your roles:</p>
        <ul class="list-inline">
             @foreach (var i in Model)
             {
                 <li class="list-inline-item">@i</li>
             }
        </ul>
    </div>
    
    <div id="users-list">
        
    </div>

</div>

<script src="~/js/AdminPanel.js"></script>