@using Web.DTO.Partial
@model Web.DTO.Lot.CreateLotModel
@addTagHelper *, Westwind.AspNetCore.Markdown


<input asp-for="ImageUrl" type="hidden">
<div asp-validation-summary="All" class="text-danger"></div>

    <div class="row">
        @{ 
            await Html.RenderPartialAsync("_ColDescription", new ColDescription{
                Title = "Project title", 
                Description = new List<string>
                {"Write a clear, brief title that helps people quickly understand the gist of your project."}
            });
        }
        <div class="col-md-7 col-sm-12">
            <div class="form-group">
                <label asp-for="Title">Title</label>
                <input type="text" asp-for="Title" class="form-control">
                <span asp-validation-for="Title" class="form-text text-danger"></span>

                <div class="mt-3">
                    <label asp-for="Description">Description</label>
                    <textarea class="form-control" asp-for="Description" rows="1"></textarea>
                    <span asp-validation-for="Description" class="form-text text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <hr/>

    <div class="row">
        @{
            await Html.RenderPartialAsync("_ColDescription", new ColDescription{
                Title = "Project category", 
                Description = new List<string>
                {
                    "Choose the category that most closely aligns with your project",
                    "Think of where backers may look to find it. Reach a more specific community by also choosing a subcategory.",
                    "You’ll be able to change the category and subcategory even after your project is live."
                }
            });
        }
        <div class="col-md-7 col-sm-12">
            <select class="custom-select" asp-for="CategoryId" asp-items="@ViewBag.Categories">
                <option>Select category</option>
            </select>
        </div>
    </div>
    <hr/>

    <div class="row">
        @{ 
            await Html.RenderPartialAsync("_ColDescription", new ColDescription{
                Title = "Project image", 
                Description = new List<string>
                {
                    "Add an image that clearly represents your project.",
                    "Choose one that looks good at different sizes. It will appear in different sizes in different places: on your project page, across the Kickstarter website and mobile apps, and (when shared) on social channels.\n",
                    "You may want to avoid including banners, badges, and text because they may not be legible at smaller sizes.",
                    "Your image should be a 4:3 ratio or it will be cropped."
                }
            });
        }
        <div class="col-md-7 col-sm-12">
            <input asp-for="Image" id="fileInput" class="custom-file-input" accept=".jpg, .jpeg, .png, .webp">
            <label id="fileLabel" class="custom-file-label">Choose File</label>

            @if (Model?.ImageUrl != null)
            {
                <div class="drag-n-drop image-container py-4" id="drag-n-drop">
                    <img id="preview" src="@Model.ImageUrl" alt="your image" class="uploader-image"/>
                </div>
            }
            else
            {
                <div class="drag-n-drop py-4 invisible" id="drag-n-drop">
                    <img id="preview" src="#" alt="your image" class="uploader-image"/>
                </div>
            }
        </div>
    </div>
    <hr/>

    <div class="row">
        @{ 
            await Html.RenderPartialAsync("_ColDescription", new ColDescription{
                Title = "Funding goal", 
                Description = new List<string>
                {
                    "Set an achievable goal that covers what you need to complete your project.",
                    "Funding is all-or-nothing. If you don’t meet your goal, you won’t receive any money."
                }
            });
        }
        <div class="col-md-7 col-sm-12">
            <div class="form-group">
                <div class="mt-3">
                    <label asp-for="MinPrice">Min price</label>
                    <span class="hidden text-white" id="min-price-hidden">@Model?.MinPrice</span>
                    <input asp-for="MinPrice" type="number" class="form-control" id="min-price-input">
                    <span asp-validation-for="MinPrice" class="form-text text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    
    <div class="row">
        @{ 
            await Html.RenderPartialAsync("_ColDescription", new ColDescription{
                Title = "Campaign duration", 
                Description = new List<string>
                {"Set a time limit for your campaign. You won’t be able to change this after you launch."}
            });
        }
        <div class="col-md-7 col-sm-12">
            <div class="form-group">
                <label asp-for="EndAt">End At</label>
                <input asp-for="EndAt" class="form-control" min="0" max="30">
                <span asp-validation-for="EndAt" class="form-text text-danger"></span>
            </div>
        </div>
    </div>
    <hr/>

<div>

</div>

<div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" data-toggle="tab" href="#markdown-edit" role="tab" aria-selected="true">Edit</a>
        </li>
        
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="prev" data-toggle="tab" href="#markdown-preview" role="tab" aria-selected="false">Preview</a>
        </li>
    </ul>
    <div class="tab-content">
        <span asp-validation-for="Story" class="form-text text-danger"></span>
        <div class="tab-pane fade show active" id="markdown-edit" role="tabpanel" aria-labelledby="home-tab">
            <div class="form-group">
                <textarea asp-for="Story" class="form-control" id="markdown-editor"></textarea>
            </div>
        </div>
        <div class="tab-pane fade" id="markdown-preview" role="tabpanel" aria-labelledby="profile-tab">
            <div id="story">

            </div>
        </div>
    </div>
</div>


<div class="text-center">
    <button class="btn btn-primary mx-auto" type="submit">Save basics</button>
</div>

<script src="~/js/markdownLoader.js"></script>
<script src="~/js/LotUpdatePage.js"></script>